#!/bin/bash

export ML_ENV=local
export ML_MODULES_DB=modules
export ML_CONTENT_DB=content

case ML_ENV in
  local)
    export ML_HOST=localhost
    export ML_PORT=8000
    export ML_USER=admin
    export ML_PASS=admin
    export ML_PROTOCOL=http
    ;;
  *)
    echo "Unknown environment [$ML_ENV]"
    exit 1
    ;;
esac

# Please set this to the path to your corb.jar file
export CORB_JAR=corb.jar
export XCC_JAR=xcc.jar